<h3>
  Login!
</h3>
<form [formGroup]="loginGroup" (ngSubmit)="formSubmit()">
<div>
  <label for="usuario">
    Usuario
  </label>
  <input id="usuario" type="text" formControlName="usuario" />
</div>

<div>
  <label for="password">
    Password
  </label>
  <input id="password" type="text" formControlName="password"/>
</div>


<button class="button" type="submit">Log In</button>

<div>
  <a [routerLink]="['/registrar']" class="button fancy-button"><i class="material-icons">person_add</i>Registrar</a>
</div>

<h3 *ngIf="errMsg">{{errMsg}}</h3>
</form>