<p>
dashboard!
</p>




<div id="agregarVenta">
  <h4>Agregar venta</h4>
  <h4 *ngIf="!paquetes">No hay paquetes</h4>
  <form [formGroup]="ventaPaqueteGroup" (ngSubmit)="ventaSubmit()">
    <label for="cliente">
      Nombre Cliente
    </label>
    <input id="cliente" type="text" formControlName="cliente" />  
    
    <label for="paquete">
      Paquete
    </label>
    <select name="mipaquete" [(ngModel)]="paquetes" formControlName="mipaquete" >
      <option  [value]="paquete.id" *ngFor="let paquete of paquetes">{{ paquete.nombre }}</option>
    </select>
  
    <label for="adultos">
      Adultos
    </label>
    <input id="adultos" type="text" formControlName="adultos" />  
    <label for="adultos">
      Niños
    </label>
    <input id="ninios" type="text" formControlName="ninios" />    
    <p>
      <button class="button" type="submit">Agregar Venta</button>
    </p>
  </form>

</div>

<div id="Ventaa">
  <h4>Ventas realizadas</h4>
  <div *ngFor="let venta of ventas">Cliente: {{ venta.nombre_cliente }} <br>
    Paquete: {{ venta.id_paquete }} <br>
    Mayores: {{ venta.cantidad_mayores }} <br>
    Menores: {{ venta.cantidad_menores }} <br>
    <p *ngFor="let paquete of paquetes"> 
      <span *ngIf="paquete.id === venta.id_paquete" > Precio Final: <span onload="precioFinal()">  suma  </span>
        {{ paquete.precio_mayor }} * 
        {{ venta.cantidad_mayores }} + 
        {{ paquete.precio_menor }} * 
        {{ venta.cantidad_menores }} </span>    
    <hr>
    <script>
    function precioFinal(){
     var pmayor = {{ paquete.precio_mayor }};
     var pmenor = {{ paquete.precio_menor }};
     var cmayor = {{ venta.cantidad_mayores }};
     var cmenor = {{ venta.cantidad_menores }};
     
  
     var suma = (pmayor * cmayor) + (pmenor * cmenor);
    }
   </script>
  </div>
  <h4 *ngIf="!ventas">No hay ventas</h4>
</div>

<app-personas-por-destino></app-personas-por-destino>

<div id="VentaCantidad">
<h4>Cantidad Ventas</h4>
<h4 *ngIf="ventas">Ventas: {{ ventas.length }} </h4>
</div>



<div id="PreciosDestinos">
<h4>Precios de Destinos</h4>

</div>

<div id="DestinosTop">
<h4>Top Destinos</h4>

</div>

<div id="DestinosPromocionar">
<h4>Destinos a promocionar</h4>

</div>
